* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Content we're putting a blur over
.background {
  background-image: url(https://www.gamespot.com/a/uploads/original/gamespot/images/2004/reviews/615491-919434_20041026_002.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

// Background Blur using backdrop-filter
.blur {
  animation: changeWidth 8s ease-in-out infinite;
  background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(8px); // This be the blur
  border-right: 1px solid whitesmoke;
  height: 100vh;
}