body {
    background-image:url('https://www.liveabout.com/thmb/XKh05y91nCK0qIFQ0I-zhAapBAM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GTAadvanced-7f715f98c59f4c289d525c0df1b42b26.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
  font-weight: 600;
  text-align: center !important;
  color: white;
  filter: blur(6px);
  
  height: 100%;

}