body, html {
  height: 100%;
}

.image {
  /* Add background img */
  background-image: url("https://www.liveabout.com/thmb/XKh05y91nCK0qIFQ0I-zhAapBAM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GTAadvanced-7f715f98c59f4c289d525c0df1b42b26.jpg");

  /* Use filter to add blur effect */
  filter: blur(6px);
  
  height: 100%;

  /* Center the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}