/*Stylesheet*/
body, html {
    /* width:100%;
    height:100%; */
    padding:0;
    margin:0;
    overflow:hidden;
    /* position:fixed; */
    /* touch-action:none;
    -ms-touch-action:none; */
    background-color: #111111;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
}

#content {
    width: 100%;
    height: 100%;
    outline:0;
    position:fixed;
}

#orientation {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../../index.html);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    background-size:25%;
    z-index: 999;
    display: none;
}