@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../../../../../index.html') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../../../../../index.html');
    src: url('../../../../../index.html?#iefix') format('embedded-opentype'), url('../../../../../index.html') format('woff'), url('../../../../../index.html') format('truetype'), url('../../../../../index.html#slick') format('svg');
}
.slick-slide {
    width: 60px;
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    padding: 0;
    -webkit-transform: scale(0.5) translate(0, -112%);
    -ms-transform: scale(0.5) translate(0, -112%);
    transform: scale(0.5) translate(0, -112%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    width: 116px;
    height: 127px;

    background: none;

    z-index: 100000;
}
.slick-next {
    margin-right: 12px;
    background: url(../../../../../index.html) no-repeat;
    width: 50px;
    height: 60px;
}
.slick-prev {
    margin-left: 12px;
    background: url(../../../../../index.html) no-repeat;
    width: 50px;
    height: 60px;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    /*-webkit-transform: rotate(180deg);*/
    /*-moz-transform: rotate(180deg);*/
    /*-ms-transform: rotate(180deg);*/
    /*-o-transform: rotate(180deg);*/
    /*transform: rotate(180deg);*/
    /*-webkit-transform: scale(0.75) translate(0, -70%) rotate(180deg);*/
    /*-ms-transform: scale(0.75) translate(0, -70%) rotate(180deg);*/
    /*transform: scale(0.75) translate(0, -70%) rotate(180deg);*/
}
[dir='rtl'] .slick-prev
{
    left: auto;
}
/*.slick-prev:before*/
/*{*/
    /*content: '←';*/
/*}*/
/*[dir='rtl'] .slick-prev:before*/
/*{*/
    /*content: '→';*/
/*}*/

.slick-next
{
    right: 0px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
/*.slick-next:before*/
/*{*/
    /*content: '→';*/
/*}*/
/*[dir='rtl'] .slick-next:before*/
/*{*/
    /*content: '←';*/
/*}*/

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    /*bottom: -25px;*/

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{

    background: url('../../ui/tutorial/square_black.svg') no-repeat left;
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    /*opacity: .25;*/
    /*color: #ffffff;*/

    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
}
.slick-dots li.slick-active button:before
{
    background: url('../../ui/tutorial/square_yellow.svg') no-repeat left;
    /*opacity: .75;*/
    /*color: #ffffff;*/
}
